@page "/"

<PageTitle>Home</PageTitle>
<div style="display:flex; flex-direction:column; height:100%;">
    <div style="display:flex">
    </div>
    <div style="flex:1;display:flex;flex-direction:row">
        <Chart Style="width:calc(50% - 10px);height:300px;">
            <Title Text="Line"></Title>
            <Tooltip>
                <Template>
                    <div>
                        @{
                            var category = context[0].Name;
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="3" style="text-align: justify;">@category</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in context)
                                    {
                                        <tr>
                                            <td>@item.Marker</td>
                                            <td>@(item.SeriesName)</td>
                                            <td>@((item.Data[1].GetDouble()).ToString("P"))</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </Template>
            </Tooltip>
            <Legend></Legend>
            <XAxis></XAxis>
            <YAxis></YAxis>
            @foreach (var item in _data.GroupBy(x => x.Name))
            {
                var name = item.Key;
                var data = item.ToList();
                <LineSeries T="ChartData" Smooth="true" TValue="double" Symbol="SeriesSymbols.Circle" ShowSymbol="false" Data="@data" Name="@name" CategoryField="x => x.Category" ValueField="x => x.Value" ValueFormatter="@(x => x.ToString("P"))"></LineSeries>
            }
        </Chart>
        <Chart Style="width:calc(50% - 10px);height:300px;">
            <Title Text="Bar"></Title>
            <Tooltip></Tooltip>
            <Legend></Legend>
            <XAxis></XAxis>
            <YAxis></YAxis>
            @foreach (var item in _data.GroupBy(x => x.Name))
            {
                var name = item.Key;
                var data = item.ToList();
                <BarSeries T="ChartData" TValue="double" Data="@data" Name="@name" CategoryField="x => x.Category" ValueField="x => x.Value" ValueFormatter="@(x=>x.ToString("P"))"></BarSeries>
            }
        </Chart>
    </div>
</div>

@code
{
    class ChartData
    {
        public string? Name { get; set; }

        public string Category { get; set; } = "";

        public double Value { get; set; }
    }

    List<ChartData> _data = new();

    protected override void OnInitialized()
    {
        _data = new List<ChartData>();
        var random = new Random();
        for (var i = 0; i < 12; i++)
        {
            _data.Add(new ChartData
                {
                    Name = "Email",
                    Category = new DateTime(2021, i + 1, 1).ToString("MMM"),
                    Value = random.NextDouble()
                });
            _data.Add(new ChartData
                {
                    Name = "QQ",
                    Category = new DateTime(2021, i + 1, 1).ToString("MMM"),
                    Value = random.NextDouble()
                });
            _data.Add(new ChartData
                {
                    Name = "WeChat",
                    Category = new DateTime(2021, i + 1, 1).ToString("MMM"),
                    Value = random.NextDouble()
                });
        }

        StateHasChanged();
        base.OnInitialized();
    }
}